# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = "output_data/city_weather.csv"
weather_data = pd.read_csv(file)
weather_data = pd.DataFrame(weather_data)
weather_data.head()

,City,Country,City_Latitude,City_Longitude,Date,Cloudiness,Humidity,Max Temp,Wind Speed
0,Nuevo Progreso,MX,23.1667,-97.9500,1621979255,7,65,92.59,8.01
1,Rikitea,PF,-23.1203,-134.9692,1621979255,55,79,76.95,11.27
2,Husavik,IS,66.0449,-17.3389,1621979255,15,73,51.71,9.91
3,Puerto Ayora,EC,-0.7393,-90.3518,1621979256,35,87,84.16,8.01
4,Thompson,CA,55.7435,-97.8558,1621979256,90,80,30.36,16.11

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1x solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

In [11]:
coordinates = weather_data[['City_Latitude','City_Longitude']]
temperature = weather_data['Max Temp']

gmap = gmaps.figure(layout=figure_layout)

heat_layer = gmaps.heatmap_layer(coordinates, weights=temperature, 
                                 dissipating=False, max_intensity=temperature.max(),
                                 point_radius = 3)
gmap.add_layer(heat_layer)

gmap

Figure(layout=FigureLayout(border='1x solid black', height='300px', margin='0 auto 0 auto', padding='1px', widâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
perfect_weather = weather_data[(weather_data['Max Temp'] < 80) & (weather_data['Max Temp'] > 60) & (weather_data['Humidity'] < 70) & (weather_data['Cloudiness'] > 50) & (weather_data['Wind Speed'] <= 25)]
perfect_weather.head()

,City,Country,City_Latitude,City_Longitude,Date,Cloudiness,Humidity,Max Temp,Wind Speed
22,Jamestown,SH,-15.9387,-5.7168,1621979261,93,67,69.06,18.07
23,Naze,JP,28.3667,129.4833,1621979261,100,65,67.12,3.58
80,Salem,US,44.9429,-123.0351,1621979282,90,63,65.08,5.01
85,College,US,64.8569,-147.8028,1621979284,75,34,69.75,8.05
113,Georgetown,SH,-7.9333,-14.4167,1621979296,75,69,79.45,11.50

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure